.main{
    background-image: url(./images/netflix.webp) ;
    width: 100vw ;
    height: 100vh; 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 70%;
}
.cuadrado{
   background-color: aqua;
}